body
{
   background: #e5e5e5;
   color     : #3d3d3d;
   margin    : 0px;
}

*{
   font-family: Segoe UI Light, "Calibri Light", sans-serif;
   font-weight: bold;
   margin         : 0px;
   padding   : 10px 20px;
   text-decoration: none;
   list-style-type: none;
   border         : 0px;
}

table
{
   text-align: center;
   width      : 75%;   
}

tr td
{
   color      : #444;
   width      : auto;   
   border     : 2px solid #A6A6A6;
   margin     : 10px 0;
   padding    : 0px 10px;
   font-size  : 20px;
   text-align : left;
}

tr td:hover
{
   color       : #CACACA;
   background : #729192;
}

.smazat
{
   width      : 20px;
}

.datum
{
   width      : 100px;
   text-align : right;
}

.nesplneno
{
   opacity    : 0.3;   
   width      : 20px;
}

.splneno
{
   background : #8dbbf0;
   opacity    : 1;   
   width      : 20px;
}

.splneno:hover
{
   background : #729192;
   color      : whitesmoke;
}

img {
   margin-top: 10px;
   width: 25px;
   height: 30px;
   padding: 0px;
}

.nove-zadani {
   text-align: center;
   background: #2792e0;
   color: #fff;
   cursor: pointer;
   transition: .5s;
}

.nove-zadani:hover {
   background: #2954c2;
}

.nove-zadani:active {
   background: #081435;
}