body
{
   background: #e5e5e5;
   color     : #3d3d3d;
   margin    : 0px;
}

*
{
   margin         : 0px;
   padding   : 10px 20px;
   text-decoration: none;
   list-style-type: none;
   border         : 0px;
}

table
{
   text-align: center;
}

tr td
{
   color      : #444;
   width      : 20px;   
   border     : 2px solid #A6A6A6;
   margin     : 10px 0;
   padding    : 0px 10px;
   font-family: 'Open Sans';
   font-size  : 18px;
   text-align : left;
}

tr td:hover
{
   color       : #CACACA;
   background  : rgb(109, 108, 108);
}

.ukol
{
   width      : 300px;   
}

.nesplneno
{
   opacity    : 0.3;   
}

.splneno
{
   background : #8dbbf0;
   color      : whitesmoke;
   width      : 20px;
   opacity    : 1;   
}

.splneno:hover
{
   background : #729192;
   color      : whitesmoke;
   width      : 20px;   
}

img {
   margin-top: 10px;
   width: 25px;
   height: 30px;
   padding: 0px;
}
